{% extends "index.html" %}
{% block content %}



<!-- REGIONS -->

<div class="span3.5">

  <div class="row">
    <div class="span2.5">
      <form method="POST" action="/add_region">
      {{ form_region.hidden_tag() }}
      {{ form_region.regions.label }} {{ form_region.regions(rows=10, multiple=True, size=5) }}
    </div>
  
    <div class="span0.5">
      <br><br>  
      <button type="submit" class="btn">-></button>
      </form>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="span2.5">
      <form method="POST" action="/add_thematic">
      {{ form_thematic.hidden_tag() }}
      {{ form_thematic.thematics.label }} {{ form_thematic.thematics(rows=10, multiple=True, size=5) }}
    </div>
    <div class="span0.5">
      <br><br>  
      <button type="submit" class="btn">-></button>
      </form>
      </form>
    </div>  
  </div>  

  <div class="row">
    <div class="span2.5">
      <form method="POST" action="/add_type">
      {{ form_type.hidden_tag() }}
      {{ form_type.types.label }} {{ form_type.types(rows=10, multiple=True, size=5) }}
    </div>
    <div class="span0.5">
      <br><br>  
      <button type="submit" class="btn">-></button>
      </form>
      </form>
    </div>  
  </div>  

  <div class="row">
    <div class="span2.5">
      <form method="POST" action="/add_unsorted">
      {{ form_unsorted.hidden_tag() }}
      {{ form_unsorted.unsorteds.label }} {{ form_unsorted.unsorteds(rows=10, multiple=True, size=10) }}
    </div>
    <div class="span0.5">
      <br><br>  
      <button type="submit" class="btn">-></button>
      </form>
      </form>
    </div>  
  </div>  

</div>


<div class="span3.5">
    <form method="POST" action="/remove_keyword">
    {{ form_selected.hidden_tag() }}
    {{ form_selected.selected.label }} {{ form_selected.selected(rows=10, multiple=True, size=37) }}
    <br>
    <button type="submit" class="btn">Remove Keyword</button>
    </form>
</div>







<div class="span7">
<div><dd>Nunn Patrick D. and Aalbersberg William and Lata Shalini and Gwilliam Marion<br> <span class="bibtex-protected">Beyond the core: Community governance for climate-change adaptation in peripheral parts of Pacific Island Countries</span>
<em>Na</em><br>URL: <a href="Na" >Na</a></div>
<div> <br></div>
</div>
{% endblock %}