{% extends "index.html" %}
{% block content %}



<!-- REGIONS -->

<div class="span2.5">
  <form method="POST" action="/add_region" id="region_id">
  {{ form_region.hidden_tag() }}
  {{ form_region.regions.label }} {{ form_region.regions(rows=10, size=4, onchange="change_region();") }}
  </form>


  <form method="POST" action="/add_thematic" id="thematic_id">
  {{ form_thematic.hidden_tag() }}
  {{ form_thematic.thematics.label }} {{ form_thematic.thematics(rows=10, size=4, onchange="change_thematic();") }}
  </form>


  <form method="POST" action="/add_type" id="type_id">
  {{ form_type.hidden_tag() }}
  {{ form_type.types.label }} {{ form_type.types(rows=10, size=4, onchange="change_type();") }}
  </form>

  <form method="POST" action="/add_unsorted" id="unsorted_id">
  {{ form_unsorted.hidden_tag() }}
  {{ form_unsorted.unsorteds.label }} {{ form_unsorted.unsorteds(rows=10, size=5, onchange="change_unsorted();") }}
  </form>
</div>


<div class="span2.5">
  <form method="POST" action="/remove_keyword" id="selected_id">
  {{ form_selected.hidden_tag() }}
  {{ form_selected.selected.label }} {{ form_selected.selected(rows=10, size=15 , onchange="change_selected();") }}
  </form>
  <form method="POST" action="/clear_all" id="clear_id">
    <button type="submit" class="btn">Clear All</button>
  </form>
</div>

<div class="span5">
    <IMG SRC={{ picture_source }} ALT="some asdatext" WIDTH=500 HEIGHT=400>
</div>
     

<div class="span10">
  {% for wlevel in selected %}
  <br>{{ wlevel.author }}
  <br>{{ wlevel.title }}
  <br>URL: <a href={{ wlevel.url }}>{{ wlevel.url }}</a><br>
  {% endfor %}
  <br>
  <br>
  <br>

</div>




{% endblock %}





